

{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block page_content %}
    <h1 style="color:Gray;" ALIGN=center id='titulo'>Usuario: {{ username }}</h1> 
<div class="page-header"> 
    <h1>Usuario Registrado correctamente</h1>   
    <h1>Iniciar Sesion</h1>
    
	<form method="POST" action="">
			{{ login.csrf_token }}
			{{ login.usuario(placeholder="Usuario", size=20) }}
			<br>
			{{ login.contraseña(placeholder="Contraseña", size=20) }}
			<br><br><br>
			{{ login.submit() }}
		</form>

   
    
    
</div>
{% endblock %}

