

{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block page_content %}
    <h1 style="color:Gray;" ALIGN=center id='titulo'>Usuario: {{ username }}</h1> 
<div class="page-header">    
    <h1>Iniciar Sesions</h1>
    
	<form method="POST" action="">
			{{ login.csrf_token }}
			{{ login.usuario(placeholder="Usuario", size=20) }}
			<br>
			{{ login.contraseña(placeholder="Contraseña", size=20) }}
			<br><br><br>
			{{ login.submit(placeholder="Ingresar", size=20) }}
		</form>

    <h1>Usuario y/o Contraseña No Validos</h1>
    
    
</div>
{% endblock %}

