
{% extends "base.html" %}
{% block title %}Base de Datos{% endblock %}
{% block page_content %}
<div class="page-header">  
    <h1 style="color:Gray;" ALIGN=center id='titulo'>Bienvenido Usuario: {{ username }}</h1> 
    <h1 style="color:tomato;" ALIGN=center id='titulo'>Consultas en Base de Datos</h1>   
    <br><br><br>
    
   
   


<li ><a href="/basetotal">Ultimas Ventas</a></li>   
<li ><a href="/clientes">Clientes</a></li>  
<li ><a href="/productosvendidos">Productos Vendidos</a></li>  
<br>





</div>
{% endblock %}


