

{% extends "base.html" %}

{% block title %}Productos Vendidos{% endblock %}

{% block page_content %}

<li><a href="/basedatos">Volver</a></li>  

 <form method="POST" action="/clientes">

		
		</form>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"style="background-color: grey">Productos Vendidos</div>

<table class="table" style="background-color: black">

{% for line in listar %}
  <tr>
    
    <td><font color="white">{{ line[1] }}</font></td>
     <td><font color="white">{{ line[2] }}</font></td>

  </tr>
{% endfor %}
</table>
{% endblock %}
